**/bin/
**/obj/
.vs/
.idea/
*.user
*.suo

tmp/
artifacts/
logs/
diagnostics/
desktop/node_modules/
desktop/.webpack/
desktop/.artifacts/
desktop/out/
release/
output/
.DS_Store
*.db
*.db-shm
*.db-wal
